<div class="row">
		<div class="col-md-12">
				<section class="content-header">
						<!--<div class="header_title" align="center">
								<h3>DEUDA MORA</h3>
						</div> -->




						<div [hidden]="!subBusqueda">
							<div class="header_title col-md-12">
								<h2><strong>BUSQUEDAS PUBLICACION LIQUIDACION POR DETERMINACION MIXTA</strong></h2>
							</div><div class="col-sm-12 modal-footer"></div>


							<div class="col-sm-4" id="1a"></div>
						    		<div class="col-sm-4 container-fluit " >
									<div class="panel panel-primary">
											<div class="panel-heading" align="center"><h2 class="modal-title" id="myModalLabel">Busqueda de Persona {{personaEstado}}</h2>
											
											</div>
											<div class="panel-body">
												<div class="">
 
													<div [hidden]="!subPersona">
														<div class="row">
															<div class="form-group">
																	<div class="col-sm-12">
																		<label class="col-sm-5 control-label" align="right">Rubro:                                </label>

																		<div class="col-sm-7">
												
																		
																		<form #fR="ngForm">
																			<select class="col-sm-9" id="state"#state name="state" ngModel>
																				<option *ngFor="let state of CRubro" [ngValue]="state.abbrev">
																					{{ state.name }}
																				</option>
																			</select>
																			 <button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('PARA UNA MEJOR CONSULTA DEBE SELECCIONAR UN TIPO DE TRIBUTO , SI SELECCIONA --TODO-- TENDRA UNA RELACION DE TODOS LOS IMPUESTOS Y PATENTES PUBLICADAS EN LA PRESENTE GESTION')">?</button>
																		</form>
																		<!--<p>Form value: {{ f.value | json }}</p>-->
																		</div>
																	</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																<div class="col-sm-12">
																	<label class="col-sm-5 control-label" align="right">Número Doc. de Identidad:</label>
																	<div class="col-sm-5">
																	<input [(ngModel)]="personal.ci" id="numeroIdent"#numeroIdent class="col-sm-12" placeholder="Num de doc.">


																	</div> 
																	<button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('DEBE INTRODUCIR EL NUMERO DE DOCUMENTO DE IDENTIDAD DE LA PERSONA NATURAL; CEDULA DE IDENTIDAD, RUN, CARNET EXTRANJERO U OTRO CON EL CUAL SE REGISTRO EN LA ADMINISTRACIÓN TRIBUTARIA MUNICIPAL')">?</button>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																<div class="col-sm-12">
																	<label class="col-sm-5 control-label" align="right">Registro Tributario:</label>
																	<div class="col-sm-5">
																	<input [(ngModel)]="personal.reg" id="numeroReg"#numeroReg class="col-sm-12" placeholder="Reg. tributario">
																	</div> 
																	<button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('ES EL NUMERO DE IDENTIFICACION DEL OBJETO A CONSULTAR: <NUMERO DE INMUEBLES EN INMUEBLES>, <PLACA/POLIZA/COPO PARA VEHICULOS AUTOMOTORES TERRESTRES>, <ID DE ACTIVIDAD ECONOMICA EN PATENTE A LA ACTIVIDAD ECONOMICA>, <ID DEL ELEMENTO PUBLICITARIO EN PATENTE DE PUBLICIDAD>')">?</button>
																</div>
															</div>
														</div>
														<!--
														<div class="row">
														<div class="form-group">
																	<div class="col-sm-12">
																		<label class="col-sm-5 control-label" align="right">Nombres:</label>
																		<div class="col-sm-7">
																		<input [(ngModel)]="personal.nombre" class="col-sm-12" id="nombres"#nombres placeholder="Introduzca nombre completo">
																		</div> 
																	</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																	<div class="col-sm-12">
																		<label class="col-sm-5 control-label" align="right">Apellido Paterno:</label>
																		<div class="col-sm-7">
																		<input [(ngModel)]="personal.paterno" class="col-sm-12" id="paterno"#paterno placeholder="Introduzca apellido paterno">
																		</div> 
																	</div>
															</div>
														</div>

														<div class="row">
															<div class="form-group">
																	<div class="col-sm-12">
																		<label class="col-sm-5 control-label" align="right">Apellido Materno:</label>
																		<div class="col-sm-7">
																		<input [(ngModel)]="personal.materno" class="col-sm-12" id="materno"#materno placeholder="Introduzca apellido materno">
																		</div> 
																	</div>
															</div>
														</div>
														-->
														
														<br/>
														<div class="row">
																	<div class="col-sm-12 modal-footer">
																		 
																		 <button type="submit" class="btn btn-success fa fa-search" (click) = "buscarContribuyenteMixta(numeroIdent.value,numeroReg.value,numeroNIT.value,fR.value)">&nbsp;Buscar</button>
																		 <br>
																		<button type="submit" class="btn btn-primary fa fa-users" (click) = "pintarPersona()">&nbsp;{{botonEstado}}</button>
																		<button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('PARA CONSULTAR EMPRESAS EN GENERAL ASI COMO EMPRESAS UNIPERSONALES PRESIONE LA OPCION JURIDICOS')">?</button>
																		
																	</div>
														</div>
													</div>
													<div [hidden]="subPersona" id="1b">
														
														<div class="row">
															<div class="form-group">
																	<div class="col-sm-12">
																		<label class="col-sm-5 control-label" align="right">Rubro:</label>
																		<div class="col-sm-7">
												
																		
																		<form #fR1="ngForm">
																			<select class="col-sm-9" id="state"#state name="state" ngModel>
																				<option *ngFor="let state of CRubro"  [ngValue]="state.abbrev">
																					{{ state.name }}
																				</option>
																			</select>
																			 <button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('PARA UNA MEJOR CONSULTA DEBE SELECCIONAR UN TIPO DE TRIBUTO , SI SELECCIONA --TODO-- TENDRA UNA RELACION DE TODOS LOS IMPUESTOS Y PATENTES PUBLICADAS EN LA PRESENTE GESTION')">?</button>
																		</form>
																		<!--<p>Form value: {{ f.value | json }}</p>-->
																		</div>
																	</div>
															</div>
														</div>

														<div class="row">
															<div class="form-group">
																<div class="col-sm-12">
																	<label class="col-sm-5 control-label" align="right">N.I.T / R.U.C.:</label>
																	<div class="col-sm-5">
																	<input [(ngModel)]="personal.nit" class="col-sm-12" id="numeroNIT"#numeroNIT placeholder="NIT/RUC">
																	</div>
																	<button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('DEBE INTRODUCIR EL NIT O RUC DE LA EMPRESA CON EL CUAL SE REGISTRO EN LA ADMINISTRACIÓN TRIBUTARIA MUNICIPAL')">?</button>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																<div class="col-sm-12">
																	<label class="col-sm-5 control-label" align="right">Registro Tributario:</label>
																	<div class="col-sm-5">
																	<input [(ngModel)]="personal.reg" id="numeroReg"#numeroReg class="col-sm-12" placeholder="Reg. Tributario">
																	</div> 
																	<button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('ES EL NUMERO DE IDENTIFICACION DEL OBJETO A CONSULTAR: <NUMERO DE INMUEBLES EN INMUEBLES>, <PLACA/POLIZA/COPO PARA VEHICULOS AUTOMOTORES TERRESTRES>, <ID DE ACTIVIDAD ECONOMICA EN PATENTE A LA ACTIVIDAD ECONOMICA>, <ID DEL ELEMENTO PUBLICITARIO EN PATENTE DE PUBLICIDAD>')">?</button>
																</div>
															</div>
														</div>
														<!--
														<div class="row">
															<div class="form-group">
																	<div class="col-sm-12">
																		<label class="col-sm-5 control-label" align="right">Razon Social:</label>
																		<div class="col-sm-7">
																		<input [(ngModel)]="personal.empresa" class="col-sm-12" id="empresa"#empresa placeholder="Introduzca nombre de empresa">
																		</div> 
																	</div>
															</div>
														</div>
														-->
														
														<br/>
														<div class="row">
															<div class="col-sm-12 modal-footer">
																
																<button type="submit" class="btn btn-success fa fa-search" (click) = "buscarContribuyenteMixta(numeroIdent.value,numeroReg.value,numeroNIT.value,fR1.value)">&nbsp;Buscar</button>
																<br>
																<button type="submit" class="btn btn-primary fa fa-user" (click) = "pintarPersona()">&nbsp;{{botonEstado}}</button>
																<button type="submit" class="btn btn-primary btn-info" (click) = "mensaje('PARA CONSULTAR PERSONAS EN GENERAL PRESIONE LA  EN OPCION NATURAL')">?</button>
																
															</div>
														</div> 
													</div>

												</div>
											</div>
									</div>
							</div>
						</div>
						
						<div [hidden]="subBusqueda" >
						<div class="col-md-12">
							<div class="form-group">
									<h2><h2 id="titulo2"></h2>
										<small [hidden]="!subTabla2">
												<button type="submit" class="btn btn-success pull-right fa fa-print fa-1x" (click) = "printLista()"></button>
										</small>&nbsp;&nbsp;
										<small [hidden]="!subTabla">
												<button type="submit" class="btn btn-primary pull-right fa fa-search fa-1x" (click) = "verBusqueda()"></button>
										</small>&nbsp;&nbsp;
										<small>
												<button type="submit" class="btn btn-danger pull-right fa fa-search-minus fa-1x" (click) = "verAtras()">volver a consultar</button>
										</small>&nbsp;&nbsp;
									</h2>
									
									<div class="col-sm-12 modal-footer">
									</div>
							</div>
						</div>
					</div>
				</section>
		</div>
</div>	
<div class="col-md-12">
	<div class="row">
		<div class="container-fluit">
			<div [hidden]="subTabla">
				<div [hidden]="!subPersona">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Contribuyente {{personaEstado}}</div>
							<div class="panel-body scroll-list">
								<ng2-smart-table
								[settings]=settings7
								[source]=source7
								>
								</ng2-smart-table>
							</div>
						</div>
					</div>
				</div>
				<div [hidden]="subPersona">
					<div class="col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Contribuyente {{personaEstado}}</div>
							<div class="panel-body scroll-list">
								<ng2-smart-table
								[settings]=settings7
								[source]=source7
								(deleteConfirm)="onDeleteConfirm($event)"
								(edit)="onEdit($event)"
								(createConfirm)="onCreateConfirm($event)"
								(userRowSelect)="eventSelectAE($event,'J')">
								</ng2-smart-table>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--
			<div [hidden]="!subTabla">
				<div class="col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div id="cacbeceraActividades"></div>
						</div>
					</div>
				<div [hidden]="!subActividad">
					<div [hidden]="subTabla2">
						<div class="panel panel-info">   
							<div class="panel-heading">Actividades Económicas</div>
							<div class="panel-body scroll-list">
								<ng2-smart-table
								[settings]="settings7"
								[source]="source7"
								(deleteConfirm)="onDeleteConfirm($event)"
								(editConfirm)="onSaveConfirm($event)"
								(createConfirm)="onCreateConfirm($event)"
								(userRowSelect)="eventSelectLiquidacion($event)">
								</ng2-smart-table>
							</div>
						</div>
					</div>
					<div [hidden]="!subTabla2">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div id="cacbeceraALiquidacion"></div>
							</div>
						</div>
					</div>
				
					<div [hidden]="!subTabla2">
						<div class="panel panel-success">
							<div class="panel-heading">Actividades Liquidación</div>
							<div class="panel-body scroll-list">
								<ng2-smart-table
								[settings]="settings3"
								[source]="source3">
								</ng2-smart-table>
							</div>
						</div>
					</div>
				</div>
				<div [hidden]="subActividad">
					<div [hidden]="subTabla2">
						<div class="panel panel-warning">   
							<div class="panel-heading">Publicidad</div>
							<div class="panel-body scroll-list">
								<ng2-smart-table
								[settings]="settings4"
								[source]="source4"
								(deleteConfirm)="onDeleteConfirm($event)"
								(editConfirm)="onSaveConfirm($event)"
								(createConfirm)="onCreateConfirm($event)"
								(userRowSelect)="eventPublicarLiquidacion($event)">
								</ng2-smart-table>
							</div>
						</div>
					</div>
					<div [hidden]="!subTabla2">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<div id="cacbeceraPLiquidacion"></div>
							</div>
						</div>
					</div>
				
					<div [hidden]="!subTabla2">
						<div class="panel panel-success">
							<div class="panel-heading">Publicidad Liquidación</div>
							<div class="panel-body scroll-list">
								<ng2-smart-table
								[settings]="settings5"
								[source]="source5">
								</ng2-smart-table>
							</div>
						</div>
					</div>
				</div>

			</div> 
		</div>
	</div>
</div>

<!--
<popup #popup1 [hidden]="!subPopup">
	<div class="row">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-info fa fa-bar-chart-o fa-2x" (click) = "getActividad()">&nbsp;Actividad Económica</button>
			<button type="submit" class="btn btn-warning fa fa-list-alt fa-2x" (click) = "getPublicidad()">&nbsp;Publicidad</button>
		</div>
	</div>
	<br/><br/>
</popup>-->
<popup  #popup2 [hidden]="!subPopup2" (confirmClick)="closeMessage()" (cancelClick)="closeMessage()">
		<h4>{{Message}}</h4>
		
			<div class="col-sm-12 modal-footer">
			<button type="submit" class="btn btn-default" (click) = "closeMessage()">Salir</button>
			</div>
		

</popup> 


			
