<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
        
                <li class="nav-header" style="background:#31708f">
                    <div class="dropdown profile-element" align="center"> <span>
                            <img alt="image" class="img-circle" src="assets/img/user.jpg" height="70" width="70" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><h2>Aplicación ATM</h2></strong>
                             </span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Perfil</a></li>
                            <li><a href="contacts.html">Contactanos</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        ATM
                    </div>
                </li>
<!--
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="assets/img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Perfil</a></li>
                            <li><a href="contacts.html">Contactanos</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
-->      
           


                <li class="active">
                    <a><i class="fa fa-paper-plane-o"></i> <span class="nav-label">Modulos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a [routerLink]="['/home', {outlets: {firstchild: ['deudamora']}}]">Deuda Mora</a></li>
                       
                    </ul>
                </li>
                 <li>
                    <a><i class="fa fa-paper-plane-o"></i> <span class="nav-label">información</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a [routerLink]="['/home', {outlets: {firstchild: ['inmuebles']}}]">Inmuebles</a></li>
                        <li><a [routerLink]="['/home', {outlets: {firstchild: ['vehiculos']}}]">Vehículos</a></li>
                        <li><a [routerLink]="['/home', {outlets: {firstchild: ['actividades']}}]">Actividades Económicas</a></li>
                    </ul>
                </li>


<!--
                <li class="active" *ngFor="let m of menu">
                    <a><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{m.grupo}}</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li *ngFor="let s of m.sub_categories"><a [routerLink]="['/home', {outlets: {firstchild: [s.contenido]}}]">{{s.opcion}}</a></li>
                    </ul>
                </li>
-->               
            </ul>

        </div>
    </nav>



    <div id="page-wrapper" class="gray-bg" >
        
        <div class="row border-bottom" style="background:#31708f">

            <nav class="navbar-static-top"  role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" >
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i></a>
       
        </div>
            

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <!--
                        <a routerLink="/login" routerLinkActive="active">
                            <i class="fa fa-sign-out"></i> Salir
                        </a>
                        --> 
                    </li>
                </ul>
            </nav>

        </div>
        
        <div class="wrapper wrapper-content animated fadeInDown" >
        
            <div class="row">
                <router-outlet name="firstchild"></router-outlet>
            </div>
            
        </div>

    </div>

</div>